<section class="localization-section page-width">{% render 'localization-form', id: section.id %}</section>{% schema %}{"name":"Localization form","settings":[],"presets":[{"name":"Localization form"}]}{% endschema %}
